<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="angular.min.js"></script>
    <script type="text/javascript" src="app_gnutiy.js"></script>
    <style type="text/css">
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
    </style>
  </head>
  <body ng-controller="calcController">

    <form style="margin-bottom: 10px;" class="clearfix">
      <div class="clearfix">
        <div style="float: left; margin: 0 20px 10px 0;">
          <input type="text" size="1" ng-model="variables.tx"> <label>мм.</label> <label>Ширина тумбы.</label> 
        </div>
	  </div>
	  
	  <div class="clearfix">
        <div style="float: left; margin: 0 20px 10px 0;">
          <input type="text" size="1" ng-model="variables.ty"> <label>мм.</label> <label>Глубина тумбы.</label> 
        </div>
	  </div>
    
      <div class="clearfix">
        <div style="float: left; margin: 0 20px 10px 0;">
          <input type="text" size="1" ng-model="variables.th"> <label>мм.</label> <label>Толщина фасада.</label> 
        </div>
	  </div>
	  
	  <div class="clearfix">
        <div style="float: left; margin: 0 20px 10px 0;"> 
          <input type="text" size="1" ng-model="variables.rv"> <label>мм.</label> <label>Радиус внутренний</label> 
        </div>
      </div>
    </form>

    <canvas calc variables="variables"></canvas>
  </body>
</html>